.records-list{
	padding: 0.2rem;
    font-size: 0.32rem;
}

.records-item{
	display: block;
    width: 100%;
    padding: 0.2rem;
    box-shadow: 1px 1px 1px #bbb;
    border-radius: 0.16rem;
    position: relative;
    background-color: #fff;
    margin-bottom: 0.2rem;
}

.records-item .fa-chevron-right{
	position: absolute;
	right:0.2rem;
	top:0.2rem;
	color:#bbb;
	line-height:0.5rem;

}

.list-item{
    width: 100%;
    padding: 0.6rem 0.2rem 0.2rem 0.2rem;
    box-shadow: 0.02rem 0.02rem 0.02rem #bbb;
    border-radius: 0.16rem;
    position: relative;
    background-color: #fff;
}

.item-row{
    line-height: 0.2rem;
}
