.login-single *{
	-moz-box-sizing: border-box;  
	-webkit-box-sizing: border-box; 
	-o-box-sizing: border-box; 
	-ms-box-sizing: border-box; 
	box-sizing: border-box; 
}

.login-single{
	position: absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	-webkit-animation-duration: .3s;
	background-color:#f1f1f1;
}

.login-single:before{
	content:"";
	display:block;
	width:100%;
	height:50px;
}

.login-header{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:50px;
	border-bottom:1px solid #bbb;
	background-color:#252525;
	color:#fff;
	font-size:14px;
	text-align: center;
	line-height:50px;
}
.login-header-right{
	position: absolute;
	right:0px;
	top:0;
	width:100px;
	padding-right:15px;
	text-align: right;
	font-size:12px;
}
.login-header-left{
	position: absolute;
	left:0px;
	top:0;
	width:100px;
	padding-left:15px;
	text-align: left;
	font-size:12px;
}
.page-login-body{
	width:380px;
	margin:0px auto;
	padding:250px 30px 10px 30px;
}
.page-login-form{
	background-color:#fff;
	border:1px solid #bbb;
	position: relative;
	border-radius:10px;
	overflow:hidden;
	width:100%;
}
.page-login-row{
	border-bottom:1px solid #bbb;
	position: relative;
	height:45px;
}
.page-login-row input{
	-webkit-appearance:none;
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	outline:none;
	padding:0px 10px 0px 40px;
	font-size:16px;
}
.page-login-row i{
	position: absolute;
	top:0px;
	left:13px;
	line-height:45px;
	color:#bbb;
	width:20px;
}
.page-login-btng{
	height:45px;
	display: -webkit-box; 
}
.page-login-btn{
	-webkit-box-flex: 1;
	color:#333;
	line-height:45px;
	text-align: center;
}
.page-login-forget{
	width:100%;
	line-height:25px;
	color:#bbb;
	padding-left:10px;
	margin-top:0px;
	font-size:12px;
	display:block;
}
.page-login-register{
	width:100%;
	line-height:25px;
	color:#bbb;
	padding-left:10px;
	margin-top:10px;
	font-size:12px;
	display:block;
}
#page-account{
	z-index:200;
}
#page-forget{
	z-index:300;
}
#page-reg{
	z-index:300;
}
#page-code{
	z-index:310;
}
.forgetLoginBtn{
}
#page-login-loading{
	z-index:900;
	background-color: rgba(0,0,0,.5);
	
}
.spinner-bottom{
	position: absolute;
	bottom:0px;
	text-align: center;
	width: 100%;
}
.spinner {
	margin: 100px auto 0;
	width: 150px;
	text-align: center;
	padding-bottom:20px;
}

.spinner > div {
	width: 10px;
	height: 10px;
	background-color: #bbb;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: bouncedelay 1.4s infinite ease-in-out;
	animation: bouncedelay 1.4s infinite ease-in-out;
	/* Prevent first frame from flickering when animation starts */
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0.0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
	0%, 80%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
		} 40% {
			transform: scale(1.0);
			-webkit-transform: scale(1.0);
		}
	}
.ff-popup{
	position: fixed;
	bottom:15px;
	height:40px;
	border-radius:8px;
	left:15px;
	right:15px;
	line-height:40px;
	text-align: center;
	color:#fff;
	background:rgba(0,0,0,.8);
	z-index:9999;
	display:none;
}

.l-grid-row-cell-inner{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}