<template name="footer">
    <footer>
        <div class="_flex">
            <a href="/" class="_flex-1 {{#if fouces 'site' }} active {{/if }}"><i class="fa fa-home"></i> 资讯</a> 
       
            <!-- <a href="/records" class="_flex-1 {{#if fouces 'zx' }} active {{/if }}"><i class="fa fa-book"></i> 档案</a>  -->

            <a href="/active" class="_flex-1 {{#if fouces 'active' }} active {{/if }}"><i class="fa fa-th-large"></i> 活动</a> 

            <a href="/shop" class="_flex-1 {{#if fouces 'shop' }} active {{/if }}"><i class="fa fa-shopping-cart"></i> 商城</a> 
           
            <a href="/home" class="_flex-1 {{#if fouces 'wd' }} active {{/if }}"><i class="fa fa-user"></i> 我的</a>
        </div>
    </footer>
</template>
