/*.share-bg{
  width:100%;
  height:100%;
  position:fixed;
  top:0px;
  left:0px;
  background:rgba(0,0,0,.5);
  z-index:9999;
  display:none;
}
.share-warp{
  width:200px;
  background:#fff;
  position:absolute;
  top:50%;
  left:50%;
  overflow:hidden;

}
.blur{
   -webkit-filter: blur(10px); 
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);    
  filter: blur(10px); 
}
.share-title{
  line-height:40px;
  width:100%;
  padding:0px 15px;
  font-weight:800;
  color:#bbb;
  border-bottom:1px solid #eee;
}
.share-item{
  width:100%;
  line-height:50px;
  border-bottom:1px solid #eee;
  padding-left:50px;
  background-repeat:no-repeat;
  background-position:10px center;
}
.share-wechat{
  background-image:url(/swechat.png);
}
.share-frd{
  background-image:url(/sfrd.png);
}
.top-share{
  position:fixed;
  top:10px;
  right:0px;
  background-repeat:no-repeat;
  background-size:20px;
  background-position:15px 10px;
  width:50px;
  z-index:9999;
  height:35px;
  text-align:right;
  padding-right:15px;
}
.share-wx{
  background-color:rgba(0,0,0,.7);
  background-image:url(/share-bg.png);
  background-repeat:no-repeat;
  background-size:70% auto;
  background-position:right top;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index:99999;
  display:none;
}*/