.layout-navi{
	width:120px;
	background:#252525;
	position: fixed;
	top:0px;
	left:0px;
	height:100%;
	z-index:999;
	box-shadow: 0 0 5px #333;
	overflow-y: auto;

}
.layout-navi .user {
	width:100%;
	margin:0px auto;
	padding:30px;
	background:#333;
	display:block;
	height:130px;
}

.layout-navi .user .avatar{
	width:100%;
	height:50px;
	margin:0px auto;
	background-size:cover;
	background-color:#fff;
	border-radius: 10px;

}

.layout-navi .user .nickname{
	width:100%;
	color:#fff;
	text-align: center;
	padding-top:15px;

}
.layout-navi-list .item{
	display: block;
	color:#fff;
	line-height:25px;
	padding:10px;
	padding-left:10px;
	font-size:12px;
}
.layout-navi-list .item:hover{
	padding-left:15px;
	color:#333;
	background:#bbb;
}
.layout-navi-list .active{
	padding-left:15px;
	color:#333;
	background:#fff;
}
.layout-main{
	overflow:hidden;
	padding-left:120px;
}