.share-bg{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,.5);
  z-index:9999;
  display:none;
}
.share-warp{
  width:4.0rem;
  background:#fff;
  position:absolute;
  top:50%;
  left:50%;
  overflow:hidden;

}
.blur{
   -webkit-filter: blur(0.2rem); /* Chrome, Opera */
  -moz-filter: blur(0.2rem);
  -ms-filter: blur(0.2rem);    
  filter: blur(0.2rem); 
}
.share-title{
  line-height:0.8rem;
  width:100%;
  padding:0 0.3rem;
  font-weight:800;
  color:#bbb;
  border-bottom:1px solid #eee;
  font-size: 0.32rem
}
.share-item{
  width:100%;
  line-height:1.0rem;
  border-bottom:1px solid #eee;
  padding-left:1.0rem;
  background-repeat:no-repeat;
  background-position:0.2rem center;
  font-size: 0.32rem
}
.share-wechat{
  background-image:url(/swechat.png);
}
.share-frd{
  background-image:url(/sfrd.png);
}
.top-share{
  position:fixed;
  top:22px;
  right:5px;
  background-repeat:no-repeat;
  background-size:20px;
  width:30px;
  z-index:999;
  height:35px;
  background-image:url(/share.png);

}